# Port is assigned automatically by platform
PORT=3000

# MongoDB Configuration
MONGODB_URI=
MONGODB_DB_NAME=

# Admin Initial Credentials
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Security
JWT_SECRET=
SESSION_SECRET=

# Judge0 Execution Backend
JUDGE0_URL=https://ce.judge0.com
JUDGE0_API_KEY=

